.chen-wrapper-resize {
    position: relative;
    display: inline-block;
    width: 200px;
}
.chen-line {
    position: absolute;
    right: 0;
    width: 4px;
    height: 100%;
    top: 0;
    cursor: col-resize;
    transform: translateX(8px);
    background: deepskyblue;

}
